html,
body {
	background-color: #5B9DCC;
	font-family: 'Lato', Helvetica, sans-serif;
}

ul {
	list-style: none;
}

.header,
.footer,
.section-heading {
	text-align: center;
}

.header-text {
	color: #FBFBFB;
	font-size: 3em;
	text-shadow: 0px 3px #6ABCF5;
}

.section-heading,
.total {
	color: #474749;
}

.content-wrapper {
	width: 60%;
	height: 500px;
	margin: auto;
	background-color: #FBFBFB;
	border-radius: 5px;
	box-shadow: 0px 1px 2px 2px #3F6C8C;
}

.align-left,
.align-right {
	width: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	display: inline-block;
}

.align-left {
	float: left;
}

/*ADD ITEM*/

.add-item {
	width: 65%;
	margin: auto;
	padding: 10px
}

.add-item-controls {
	display: block;
	padding: 5px 10px;
}

.add-input {
	display: block;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 5px 10px;
	width: 100%;
	height: 52px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #F5F5F5;
	font-size: 1.35em;
	border: 1px solid #E4E4E6;
}

/*BUTTONS*/

.button-add,
.button-reset,
.button-remove-item {
	color: white;
	border: none;
	border-radius: 5px;
}

.button-add:focus,
.button-reset:focus,
.button-remove-item:focus {
	outline:0;
}

.button-reset,
.button-add {
	width: 100px;
	padding: 10px 15px;
	font-weight: bold;
}

.button-add {
	background-color: #48AD45;
	text-shadow: -1px -1px #2D6D2C;
	box-shadow: 3px 3px 0px 1px #2D6D2C;
}

.button-add:hover {
	background-color: #388736;
	box-shadow: 2px 2px 0px 1px #2D6D2C;
}

.button-reset {
	float: right;
	background-color: #0986CC;
	text-shadow: -1px -1px #12587F;
	box-shadow: 3px 3px 0px 1px #12587F;
}

.button-reset:hover {
	background-color: #0875B2;
	box-shadow: 2px 2px 0px 1px #12587F;
}

.button-remove-item {
	float: right;
	margin-top: 12px;
	background-color: #CC1D27;
	padding: 5px 10px;
}

.button-remove-item:hover {
	background-color: #B21922;
}

/*LIST*/

.list {
	margin: auto;
	padding: 0 10px;
	overflow-y: scroll;
	max-height: 300px;
}

.shopping-list-item p,
.shopping-list-item button {
	display: inline-block;
}

.shopping-list-item {
	margin: 10px 0;
	padding: 0 10px;
	border-radius: 5px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 2px 1px #E4E4E6;
}

.item-total-price {
	float: right;
	padding-right: 20px;
}

.total {
	text-align: right;
	padding-right: 4.15rem;
}

/*FOOTER*/

.footer {
	background-color: steelblue;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-text {
	font-size: .75em;
	color: white;
}